<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wedogo_Header</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/headers/">
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="theme-color" content="#712cf9">
    
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/headers/headers.css" rel="stylesheet">
</head>
<body>

<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none" href="/">
            <svg class="bi me-2" height="32" width="40">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Wedogo</span>
        </a>
        <ul class="nav me-auto">
            <li class="nav-item"><a aria-current="page" class="nav-link link-dark px-2 active" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link link-dark px-2" href="#">Features</a></li>
            <li class="nav-item"><a class="nav-link link-dark px-2" href="#">Pricing</a></li>
            <li class="nav-item"><a class="nav-link link-dark px-2" href="/boardlist">FAQs</a></li>
            <li class="nav-item"><a class="nav-link link-dark px-2" href="#">About</a></li>
        </ul>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input class="form-control" placeholder="Search..." type="search">
        </form>
        <ul class="nav">
            
            <li class="nav-item"><a class="nav-link link-dark px-2" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link link-dark px-2" href="/registerhome">Sign up</a></li>
        </ul>
    </div>
</nav>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-gC4m+Uv7nOWJwN+Q7xuRJ9TNV7ZJnEKJb5jYk5QPv2J+5wB8jKkbJz+MMU6b9U6W" crossorigin="anonymous"></script>
</body>
</th:block>
</html>