<!DOCTYPE html>
<html layout:decorate="layout/default_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Wedogo</title>
    <link th:href="@{/css/main_index.css}" rel="stylesheet" type="text/css"/>
    <script th:href="@{/js/main_index.js}"></script>
    <link href="https://getbootstrap.com/docs/5.3/examples/headers/" rel="canonical">
    <link crossorigin="anonymous" href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" rel="stylesheet">
    <meta content="#712cf9" name="theme-color">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/headers/headers.css" rel="stylesheet">

    <link href="sidebars.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

    <script crossorigin="anonymous"
            integrity="sha384-gC4m+Uv7nOWJwN+Q7xuRJ9TNV7ZJnEKJb5jYk5QPv2J+5wB8jKkbJz+MMU6b9U6W"
            src="/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://img.sa.nexon.com/ssl/styles/main/main.css?v=20220810"/>
    <link rel="stylesheet" type="text/css" href="https://img.sa.nexon.com/sa/css/jquery.loader.min.css"/>
    <script type="text/javascript" src="https://img.sa.nexon.com/sa/js/jquery/jquery-1.11.3.min.js"></script>


</head>
<body>

<div layout:fragment="content" >
    <div id="header">
        <div class="bImages">
            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_0"}'><img
                    data-src="../img/hotelimg/Oyo_Myeongdong_5-roji/Oyo_Myeongdong_5-roji3.jpg"
                    alt="" style="width:1920px;height:695px;display:block;"></a>



            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_1"}'><img
                    data-src="../img/hotelimg/H_HOSTEL_Itaewon/H_HOSTEL_ITAEWON2.jpg"
                    alt="" style="width:1920px;height:695px;display:block;"></a>


            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_2"}'><img
                    data-src="../img/hotelimg/Westin_Chosun_Seoul/Westin_Chosun_Seoul11.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>


            <a href="#" target="_blank" class="bimage" a2s="click"
               obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_3"}'><img
                    data-src="../img/hotelimg/Saturday_Coin/Saturdaycoinindex.png" alt=""
                    style="width:1920px;height:695px;display:block;"></a>


            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_5"}'><img
                    data-src="../img/hotelimg/Nine_Tree/Nine_Tree9.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>


            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_5"}'><img
                    data-src="../img/hotelimg/Rescave/Rescave3.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>

            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_5"}'><img
                    data-src="../img/hotelimg/Grand_Walkerhill/Grand_Walkerhill7.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>

            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_5"}'><img
                    data-src="../img/hotelimg/Lotte_City_Hotel/LotteCity_Hotel2.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>

            <a href="#" target="_self" class="bimage"
               a2s="click" obj="MAIN_EVENT" opt='{"Name":"E_A1_Banner_5"}'><img
                    data-src="../img/hotelimg/classic/5001.jpg" alt=""
                    style="width:1920px;height:695px;display:block;"></a>



            <div class="bButtons">
                <div class="bButton_wrap clear">


                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>오요 명동 5로지</a>


                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>H_HOSTEL_Itaewon</a>


                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>Westin_Chosun_Seoul</a>


                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>Saturday_Coin</a>


                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>Nine_Tree</a>

                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>Rescave</a>

                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>Grand_Walkerhill</a>

                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>롯데 시티호텔</a>

                    <a href="javascript:;" class="bButton" a2s="click" obj="MAIN_EVENT"
                       opt='{"Name":"E_A2_Banner"}'>더클래식500 펜타즈 이그제큐티브 레지던스</a>


                    <div class="bButton_left"><a href="javascript:;" a2s="click" obj="MAIN_EVENT"
                                                 opt='{"Name":"E_A1_Navi"}'><img
                            src="https://img.sa.nexon.com/assets/main/arrow_left.png" alt="이전"></a></div>
                    <div class="bButton_right"><a href="javascript:;" a2s="click" obj="MAIN_EVENT"
                                                  opt='{"Name":"E_A1_Navi"}'><img
                            src="https://img.sa.nexon.com/assets/main/arrow_right.png" alt="다음"></a></div>
                </div>

            </div>
        </div>
        <div id="팀로고" style="position: absolute; top: 436px; right: 0;"><a
                href="#" target="_blank"><img
                src="https://github.com/asd99708/TeamProject/blob/main/src/main/resources/static/img/toNext.jpg?raw=true"></a></div>



        <script src="https://img.sa.nexon.com/scripts/common/respond.min.js"></script>

        <script src="https://img.sa.nexon.com/scripts/common/common.prod_20220811.js"></script>

        <script src="https://img.sa.nexon.com/scripts/common/common.func.js"></script>




        <script>window.lazyLoadOptions = { threshold: 0 };</script>
        <script src="https://img.sa.nexon.com/scripts/common/lazyload/10.19.0/lazyload.min.js"></script>



        <script>window.lazyLoadOptions = { threshold: 0 };</script>
        <script src="https://img.sa.nexon.com/scripts/common/lazyload/10.19.0/lazyload.min.js"></script>

        div class="search-bar">
        <input placeholder="Enter location or destination" type="text">



        <script>
      $(function() {
         $("#start-date").datepicker({
            dateFormat: "yy-mm-dd"
         });
         $("#end-date").datepicker({
            dateFormat: "yy-mm-dd"
         });
      });
   </script>

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

        <div class="calendar">
            <label for="start-date"><span class="white-text"> </span></label>
            <input type="search" id="start-date" placeholder="시작날짜 선택" aria-label="Search">
        </div>

        <div class="calendar">
            <label for="end-date"><span class="white-text"></span></label>
            <input type="search" id="end-date" placeholder="오프날짜 선택" aria-label="Search">

        </div>

        <style>

  #start-date::placeholder {
    font-size: 1em;
    width: 90px; /* Adjust the width as needed */
    height: 1900px; /* Adjust the height as needed */
  }
  #end-date::placeholder {
    font-size: 1.em;
    width: 90px; /* Adjust the width as needed */
    height: 1900px; /* Adjust the height as needed */
  }


  .white-text {
    color: white;
  }
  .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar label,
label[for="성인"],
label[for="7세미만세"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  width: 100px;
}

.calendar input,
select {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

#start-date,
#end-date {
  width: 200px;
}

button[type="button"] {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
}
  </style>


    <label class="col-1" for="성인"><span class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;성인</span></label>
            <select id="성인" name="성인" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <label class="col-2" for="7세미만"><span class="white-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;7세미만</span></label>
            <select id="7세미만" name="7세미만" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <button type="button">Search</button>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Oyo_Myeongdong_5-roji/Oyo_Myeongdong_5-roji3.jpg" alt="">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="location.href='../Oyo'">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/H_HOSTEL_Itaewon/H_HOSTEL_ITAEWON2.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Westin_Chosun_Seoul/Westin_Chosun_Seoul11.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" th:onclick="|window.location.href='/viewpage2'|">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Saturday_Coin/Saturdaycoinindex.png">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Nine_Tree/Nine_Tree11.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Rescave/Rescave3.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Grand_Walkerhill/Grand_Walkerhill7.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--                                        <!—<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> —>-->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/Lotte_City_Hotel/LotteCity_Hotel2.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--                                        &lt;!&ndash;<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> <&#45;&#45;-->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="../img/hotelimg/classic/5001.jpg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button class="btn btn-sm btn-outline-secondary" type="button">View</button>
                                        <!--<button class="btn btn-sm btn-outline-secondary" type="button">Edit</button> -->
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>