<!DOCTYPE html>
<html layout:decorate="layout/default_layout" xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/css/board_media.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/board_style.css}" type="text/css"/>
</head>
<body>
<div layout:fragment="content">
    <form action="/board/writedo" method="post">
        <input name="title" type="text"> <br>
        <textarea name="content"></textarea> <br>
        <button type="submit">작성</button>
    </form>
</div>
</body>
</html>