.fab.fa-github {
        color: #333; /* Change the color to your desired value */
        font-size: 24px; /* Change the size to your desired value */
        }

        .btn-custom {
            background-color: transparent;
            border-color: #ccc; /* Set the border color */
            color: #333; /* Set the text color */
        }

        .btn-custom:hover,
        .btn-custom:focus,
        .btn-custom:active {
            background-color: #f5f5f5; /* Set the background color when hovering or focusing */
            border-color: #999; /* Set the border color when hovering or focusing */
            color: #333; /* Set the text color when hovering or focusing */
        }