.search-bar {
display: flex;
align-items: flex;
justify-content: center;
margin: 60px auto;
max-width: 1300px;
max-height: 100px;

padding: 30px;
border-radius: 10px;
}
.search-bar input[type="text"] {
flex: 1;
margin-right: 10px;
padding: 10px;
border-radius: 5px;
border: none;
font-size: 16px;
}
.search-bar select {
margin-right: 10px;
padding: 10px;
border-radius: 5px;
border: none;
font-size: 16px;
}
.search-bar button {
padding: 10px 20px;
background-color: #4CAF50;
color: #fff;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
}
.calendar {
display: inline-block;
margin-left: 10px;
}