body {
  font-family: sans-serif;
  text-align: center;
}


label {
  width: 120px;
  text-align: right;
}

input[type="text"], select {
  width: 170px;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid #ccc;

}


input[type="textcontact"], select {
  width: 70px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #ccc;
}

input[type="email"], select, email{
  width: 100px;
  padding: 3px;
  border-radius: 5px;
  border: 3px solid #ccc;
  margin-left, margin-right : auto
}

input[type="button"], input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left, margin-right : auto
}

table {
  border-collapse: collapse;
  width: 860px;
  margin: auto;
}

td {
  padding: 5px;
}

#join {
  display: block;
  margin: auto;
}

#check, #address, #check3,#emailcheck, email2 {
  margin-left: 5px;
  border-radius


}

#smartPhone, #phone1, #email2 {
  margin-right: 3px;
}

#homeAddress {
  margin-top: 10px;

}

/* optional styling for radio buttons and labels */
input[type="radio"] {
  margin-center: 10px;
  vertical-align: middle;

}
.radio-label {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;

}
.profile {
         height: 120px;
         width: 200px;
         padding: 0px;
         border: solid 3px green;
         border-radius: 25px;
