<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>결제페이지</title>
    
    <style>
  /* Style the close button */
  .close {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    background-color: transparent;
    border: none;
  }


  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  label {
  text-align: right;
  display: inline-block;
  width: 200px;
  margin-right: 10px;
}

input {
  display: inline-block;
  width: 300px;
}

  
    </style>
</head>


<body>

    <img class='plugin-icon'
         height="30%"
         srcset='https://raw.githubusercontent.com/asd99708/TeamProject/788ef80580f5cbd5a1456909f07fac65fdf8f9b9/src/main/resources/static/img/%EB%B0%94%EB%A1%9C%EA%B0%80%EA%B8%B0.jpg' width="30%">
    
    
    <form action="payment-process.php" method="post" style="margin: auto; width: 50%;">
        <label for="card-number">Card Number:</label>
        <input id="card-number" name="card-number" required type="text">
        <br>
        
        <label for="expiration-date">Expiration Date:</label>
        <input id="expiration-date" name="expiration-date" placeholder="MM/YY" required type="text">
        <br>
        
        <label for="cvv">CVV:</label>
        <input id="cvv" name="cvv" required type="text">
        <br>
        
        <label for="billing-address">Billing Address:</label>
        <input id="billing-address" name="billing-address" required type="text">
        <br>
        
        <label for="amount">Amount:</label>
        <input id="amount" name="amount" required type="text" value="<DB 로 붙여넣어줘>">
        <br>
        
        <button class="btn col-10 py-1 btn-secondary" onclick="register()" type="button"> 지불하기</button>

    </form>
    
    <script>

function closeModal() {
  // Find the modal element
  var modal = document.querySelector('.modal');

  // Hide the modal instead of removing it from the DOM
  modal.style.display = 'none';
}
  
    </script>
</body>
</html>